@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Noto+Sans+JP:wght@100..900&family=Rock+Salt&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  
  html{
    @apply text-[16px] min-h-screen
  }
  
  *, *::before, *::after{
    @apply m-0 p-0 box-border
  }
  
  body {
    @apply min-h-full m-0 p-0 antialiased overflow-y-scroll overflow-x-hidden
  }
  
  img {
    @apply block h-auto max-w-full
  }



  
  .offscreen {
    left: -600rem;
    position: absolute;
  }
}

.text-stroke-title {
  -webkit-text-stroke: 0.5px rgba(0, 0, 0, 0.75)
}

.text-stroke {
  -webkit-text-stroke: 0.5px rgba(0, 0, 0, 0.1)
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}