@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Noto+Sans+JP:wght@100..900&family=Rock+Salt&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  min-height: 100vh;
}

@layer base {
  
  html{
    @apply text-[16px] overflow-y-scroll
  }
  
  *, *::before, *::after{
    @apply m-0 p-0 box-border
  }
  
  body {
    @apply min-h-full m-0 p-0 antialiased
  }
  
  img {
    @apply block h-auto max-w-full
  }
  
  .offscreen {
    left: -600rem;
    position: absolute;
  }
}
